@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/variables.scss';
@import 'styles/lists.scss';

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: $regal-light-blue-second;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 3px;
    position: fixed;
    transition: all ease-in-out 300ms;
  }

  ::-webkit-scrollbar-track {
    background: #FFFFFF;
  }

  ::-webkit-scrollbar-thumb {
    background: $base-purple;
    border: none;
    cursor: pointer;
  }
}

html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1440 * 10);

  @media (max-width: $tablet) {
    font-size: calc(100vw / 837 * 10);
  }

  @media (max-width: $mobile) {
    font-size: calc(100vw / 375 * 10);
  }

  body {
    overflow-y: visible !important;

    &[data-scroll-locked] {
      margin-right: 0 !important;
    }

    main {
      @media (max-width: $mobile) {
        position: relative;
      }
    }
  }

  label {
    cursor: pointer;
  }
}

.pointer-events-none {
  pointer-events: none !important;
}

.headroom {
  width: 100%;
  max-width: 100vw;
}

.logo {
  .name {
    text-shadow: .1rem .1rem .2rem #2480c3,
      0 0 1rem #2481c38f,
      0 0 2rem #2480c3,
      0 0 0.3rem #2480c3;
    -webkit-text-stroke-color: #2480c3;
    -webkit-text-stroke-width: .01rem;

    @media (max-width: $tablet) {
      text-shadow: 0.1rem 0.1rem 0.2rem #2480c3,
        0 0 .5rem rgb(36 129 195 / 11%),
        0 0 1rem #2480c3,
        0 0 0.2rem #2480c3;
    }
  }

  .school {
    -webkit-text-stroke-color: #5799b3;
    -webkit-text-stroke-width: 0.15rem;

    @media (max-width: $tablet) {
      -webkit-text-stroke-width: .1rem;
    }

    @media (max-width: $mobile) {
      -webkit-text-stroke-width: .15rem;
    }
  }
}

.shadow_me {
  box-shadow:
    0 .1rem .3rem #0094FFA1,
    0 .5rem .5rem #0094FFA1,
    0 0 .1rem #0094FFA1,
    inset 0 .1rem .3rem #0094FFA1,
    inset 0 .5rem .5rem #0094FFA1,
    inset 0 0 .1rem #0094FFA1;

  @media (max-width:$tablet) {
    box-shadow:
      0 .075rem .2rem #0094FFA1,
      0 .4rem .4rem #0094FFA1,
      0 0 .075rem #0094FFA1,
      inset 0 .075rem .2rem #0094FFA1,
      inset 0 .4rem .4rem #0094FFA1,
      inset 0 0 .075rem #0094FFA1;
  }

  @media (max-width:$mobile) {
    box-shadow:
      0 .05rem .1rem #0094FFA1,
      0 .3rem .3rem #0094FFA1,
      0 0 .1rem #0094FFA1,
      inset 0 .05rem .1rem #0094FFA1,
      inset 0 .3rem .3rem #0094FFA1,
      inset 0 0 .1rem #0094FFA1;
  }
}