@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/variables.scss';
@import 'styles/lists.scss';

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: $regal-light-blue-second;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1440 * 10);

  @media (max-width:1023px) {
    font-size: auto;
  }

  body {
    &::-webkit-scrollbar {
      width: 3px;
      position: absolute;
    }

    &::-webkit-scrollbar-track {
      background: #FFFFFF;
    }

    &::-webkit-scrollbar-thumb {
      background: $base-purple;
      border: none;
      cursor: pointer;
    }
  }
}